
  
  <!-- Header Section -->
<header>
    <div class="header-top">
      <div class="container">
        Free shipping on orders over $100 | 30-day money back guarantee
      </div>
    </div>
    <div class="container">
      <nav class="navbar">
        <a href="#" class="logo">Walk<span>Aura</span></a>
        <ul class="nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Kids</a></li>
          <li><a href="#">Sale</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="nav-icons">
          <div class="nav-icon"><i class="fas fa-search"></i></div>
          <!-- Replaced user icon with Sign Up and Login links -->
          <a href="/signup" class="auth-link">Sign Up</a>
          <a href="/login" class="auth-link">Login</a>
          <div class="nav-icon"><i class="fas fa-heart"></i></div>
          <div class="nav-icon"><i class="fas fa-shopping-cart"></i></div>
        </div>
      </nav>
    </div>
  </header>
  

  
 